/* Colors 
    very dark blue(main background): #090b1a
    dark desaturated blue (card background): #1b1938
    soft violet (accent): #aa5cdb

  Neutral:
    white (main heading, stats): #fff
    slightly transparent white (main paragraph opacity):  0.75
    slightly transparent white (stat headings opacity): 0.6
*/

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

/* MAIN STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: #090b1a;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 15px;
}

/* CARD */
.card__inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap-reverse;

  background-color: #1b1938;
  border-radius: 10px;
}

/* CARD CONTENT */
.card__content {
  width: 50%;
  padding: 80px 70px 60px 80px;

  color: #fff;
}

.card__title {
  margin-bottom: 30px;

  font-size: 35px;
  line-height: 1.2;
}

.card__title span {
  color: #aa5cdb;
}

.card__text {
  margin-bottom: 80px;

  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.6;
  font-size: 15px;
  font-weight: 400;

  opacity: 0.75;
}

.card__stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__stat--item {
  position: relative;

  font-size: 30px;
  font-weight: 700;
}

.card__stat--item::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;

  font-size: 15px;
  font-weight: 400;
  opacity: 0.6;
  text-transform: uppercase;
}

.item__k::after {
  content: "companies";
}

.item__num::after {
  content: "templates";
}

.item__m::after {
  content: "queries"
}


/* CARD IMG */
.card__img {
  width: 50%;
  position: relative;
}

.card__background {
  display: block;
  width: 100%;
  height: 100%;
}

.color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #9b52c7;
  opacity: 0.6;
}


/* MEDIA */
@media (max-width: 1100px) {
  .card__inner {
    max-width: 900px;
  }

  .card__content {
    padding: 50px 40px 50px 50px;
  }

  .card__text {
    margin-bottom: 30px;
    font-size: 14px;
  }

}

@media (max-width: 768px) {
  .card__inner {
    max-width: 700px;
  }

  .card__content {
    padding: 30px 30px 40px 40px;
  }

  .card__title {
    margin-bottom: 20px;
  
    font-size: 30px;
  }

  .card__text {
    margin-bottom: 20px;
  }

  .card__stat--item {
    font-size: 25px;
  }

  .card__stat--item::after {
    top: 30px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .card__inner {
    max-width: 500px;
  }

  .card__content {
    width: 100%;
    padding: 20px 30px 40px 30px;

    text-align: center;
  }

  .card__img {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .card__inner {
    max-width: 350px;
  }

  .card__stat {
    flex-direction: column;
  }

  .card__stat--item {
    margin-top: 50px;
  }

  .card__stat--item:first-child {
    margin-top: 0;
  }
}